$colorDefalut: black;
$colorSuccess: green;
$colorError: red;

$defaultFont: 16px;
$succesFont: 16px;
$errorFont: 16px;

$origiSize: 10px;
$mediumSize: 20px;
$largeSize: 30px;

@mixin makeRoundColor($color){
    @if $color == c_default{
        color: $colorDefalut;
    }
    @if $color == c_success{
        color: $colorSuccess;
    }
    @if $color == c_error{
        color: $colorError;
    }
}

@mixin makeRoundFont($font){
    @if $font == f_default{
        font-size: $defaultFont;
    }
    @if $font == f_success{
        font-size: $succesFont;
    }
    @if $font == f_error{
        font-size: $errorFont;
    }
}

@mixin makeRoundSize($size){
    @if $size == s_original{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    @if $size == s_medium{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    @if $size == s_large{
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
}

.label-default{
    @include makeRoundFont(f_default);
    @include makeRoundColor(c_default);
}

.box-default{
    @include makeRoundSize(s_original);
    @include makeRoundColor(c_default);
}

.box-default-medium{
    @include makeRoundSize(s_medium);
    @include makeRoundColor(c_default);
}

.box-default-large{
    @include makeRoundSize(s_large);
    @include makeRoundColor(c_default);
}

.label-success{
    @include makeRoundFont(f_success);
    @include makeRoundColor(c_success);
}

.box-success{
    @include makeRoundSize(s_original);
    @include makeRoundColor(c_success);
}

.box-success-medium{
    @include makeRoundSize(s_medium);
    @include makeRoundColor(c_success);
}

.box-success-large{
    @include makeRoundSize(s_large);
    @include makeRoundColor(c_success);
}

.label-error{
    @include makeRoundFont(f_error);
    @include makeRoundColor(c_error);
}

.box-error{
    @include makeRoundSize(s_original);
    @include makeRoundColor(c_error);
}

.box-error-medium{
    @include makeRoundSize(s_medium);
    @include makeRoundColor(c_error);
}

.box-error-large{
    @include makeRoundSize(s_large);
    @include makeRoundColor(c_error);
}